@font-face {
  font-family: "Chakra Petch";
  src: url(ChakraPetch-Bold.ttf);
}

@font-face {
  font-family: "Krona One";
  src: url(KronaOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

/*index*/

.body-index {
  background: #010810;
  background: linear-gradient(0deg, #000407 10%, #020f1e 80%, #124079 100%);
  height: 100dvh;
  overflow: hidden;
}

.container-index {
  margin: 16.7vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cabecalho-index {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo-index {
  color: #6bd1ff;
  font-family: "Chakra Petch";
  font-size: 5vw;
  font-weight: 700;
  margin-top: 4vh;
  margin-bottom: 0px;
}

.subtitulo-index {
  font-family: "Inter", sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  color: #ffffff;
  margin: 0px;
}

.imagemLinha {
  position: absolute;
  bottom: 15vh;
  width: 60%;
}

.imagemBarras {
  width: 27vw;
}
.imagemFrontEnd {
  width: 10vw;
  margin-bottom: 3vh;
  transition: transform 0.5s;
}

.imagemFrontEnd:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

/*sobre mim*/

.body-sobre-mim {
  box-sizing: border-box;
  height: 100vh;
  background-color: #000000;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-sobre-mim {
  display: flex;
  align-items: center;
}

.conteudo-sobre-mim {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  gap: 5.69vh;
}

.titulo-sobre-mim {
  font-weight: 400;
  font-size: 1.8vw;
  font-family: "Krona One";
}

.titulo-destaque {
  color: #22d4fd;
}

.paragrafo-sobre-mim {
  text-align: justify;
  font-size: 1.2vw;
  font-family: "Montserrat", sans-serif;
}

.links-sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.link-sobre-mim {
  background-color: #22d4fd;
  width: 14vw;
  text-align: center;
  border-radius: 1.5vh;
  font-weight: 600;
  font-size: 1vw;
  padding: 2vh 0;
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s;
}

.link-sobre-mim:hover{
  background-color: #000000;
  color: #22d4fd;
  transition: 0.5s;
}

.imagem-perfil {
  height: 49vh;
}

