@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: #010810;
    background: linear-gradient(0deg,#000407 10%, #020F1E 80%, #124079 100%);
    height: 100dvh;
    overflow: hidden;
}

#titulo h1{   
    color: #6BD1FF;
    font-family: "Chakra Petch";
    font-size: 5vw;
    font-weight: 700;
    margin-top: 4vh;
    margin-bottom: 0px;
}

h2{
    font-family: 'Inter', sans-serif;
    font-size: 3vw;
    font-weight: lighter;
    color: #FFFFFF;
    margin: 0px;
}

main{
    margin: 16.7vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#titulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#linha{
    position: absolute;
    bottom: 5vh;
    width: 60%;
}

#barras{
    width: 27vw;

}

#frontEnd{
    width: 10vw;
    margin-bottom: 3vh;
}
